p {
  max-width: 60ch !important;
}

.fishing-container {
  font-family: sans-serif !important;
  padding: 25px 20px !important;
  position: fixed !important;
  top: 2rem !important;
  left: 2rem !important;
  background-color: firebrick !important;
  color: white !important;
  z-index: 99999 !important;
  display: flex !important;
  flex-direction: column !important;
  border: 1px solid #ffffff77 !important;
  border-radius: 12px !important;
}

.fishing-container_close-block,
.fishing-container_expand-block {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-end !important;
}

.fishing-container_reasons-block_list {
  margin-top: 0.5rem;
}

.fishing-container_reasons-block_list_element {
  margin-left: 1rem;
}

.fishing-container_expand-block {
  margin-top: 2rem !important;
}

.fishing-container_close-button,
.fishing-container_expand-button {
  font-size: 15px !important;
  border: 1px solid hsla(10, 50%, 55%, 30%) !important;
  border-radius: 6px !important;
  background-color: hsla(10, 50%, 45%, 50%) !important;
  color: #ffffffbb !important;
}

.fishing-container_close-button:hover,
.fishing-container_expand-button:hover {
  filter: brightness(130%) !important;
  color: black !important;
}

.fishing-container_title {
  color: white !important;
  font-size: 32px !important;
  font-weight: bold !important;
  border: none !important;
}

.fishing-container_warning,
.fishing-container_reasons-block_text {
  color: #ffffffcc !important;
}

.fishing-container_close-button_text {
  font-size: 20px !important;
}

.fishing-container_close-button {
  padding: 0rem 0.65rem !important;
}

.fishing-container_expand-button {
  padding: 0.5rem 2rem !important;
}
